body{
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.mb-10{
    margin-bottom: 10px;
}

.container{
    height: 100%;
    background: #dadce0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__header{
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    position: relative;
    padding-bottom: 16px;
    width: 50%;
    position: relative;
}

.header--bg{
    background-color: rgb(63, 81, 181);
    color: rgba(255, 255, 255, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
}

.container__content{
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    width: 50%
}

.content--title{
    background-color: rgb(63, 81, 181);
    padding: 24px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px
}

.content-item{
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 24px;
}

.item__top{
    color: #202124;
    line-height: 24px;
    margin-bottom: 24px;
}

.button-next{
    padding: 10px 28px;
    margin-top: 16px;
    background-color: rgb(63, 81, 181);
    border-radius: 8px;
    color: #fff;
    margin-bottom: 18px;
    cursor: pointer;
}